.groupGrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
	margin-bottom: 0;
}

.matchGrid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 9px;
	margin-top: 16px;
}

@media (max-width: 900px) {
	.groupGrid {
		grid-template-columns: 1fr;
	}
}
@media (max-width: 580px) {
	.matchGrid {
		grid-template-columns: 1fr;
	}
}
